 container{
  margin-top: 5px; 
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  border: radius 10%; 
}

.navbar-brand{
font-size: 24pt;
font-weight: 600px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
}

h1{
  font-size: 24pt;
}

.enquiries{
  background-color: rgb(128, 209, 236);
}

.contact {
  margin-left: 2.5cm;
}

.cars{
  border-radius: 10%;
  border-color: black;
}

.nav-item{
  font-size:xx-large;
  font-style: bold;

}
footer{
  text-align: center;
}